#whole{

}

.result{
	width: 900px;
	height: 100px;
	float: left;
	line-height: 40px;
	margin:5px;
	color: green;
	text-align: right;
	background-color: cadetblue;
	color: yellow;
	font-size: 2em;
	margin-left: 12px;
	padding-right: 5px;
}